
.dark-mode
{
    --user-color: rgb(5,5,5);
    --ai-color:rgb(60,60,60);
    --user-color-muted: rgba(5,5,5, 0.5);
    --ai-color-muted: rgba(60,60,60, 0.5);
    --accent-color: rgb(54, 101, 255);
    --surface-color: rgb(20, 20, 20);
    --surface-color-muted: rgba(20, 20, 20, 0.5);
    --bright-text-color: rgba(255, 255, 255, 0.95);
    --muted-text-color: rgba(255, 255, 255, 0.2);
    --red-text-color: rgb(255, 107, 94);
    --background-color: rgb(43, 43, 43);
}

.light-mode
{
    --user-color: rgb(150,150,150);
    --ai-color:rgb(220,220,220);
    --user-color-muted: rgba(150,150,150, 0.5);
    --ai-color-muted: rgba(220,220,220, 0.5);
    --accent-color: rgb(189, 110, 0);
    --surface-color: rgb(219, 219, 219);
    --surface-color-muted: rgba(219, 219, 219, 0.5);
    --bright-text-color: rgb(0, 0, 0);
    --muted-text-color: rgb(62, 4, 0);
    --background-color: rgb(255, 255, 255);
}   

.aider-chat-window
{
    background-color: var(--background-color);
    --send-icon: url("/Assets/Editor/Lucide/arrow-up.png");
    --settings-icon: url("/Assets/Editor/Lucide/settings.png");
    --add-icon: url("/Assets/Editor/Lucide/plus-circle.png");
    --copy-icon: url("/Assets/Editor/Lucide/copy.png");
    --check-icon: url("/Assets/Editor/Lucide/circle-check.png");
    --close-icon: url("/Assets/Editor/Lucide/close.png");
    --history-icon: url("/Assets/Editor/Lucide/history.png");
}

.placeholder .unity-text-element
{
    opacity: 0.5;
}

.chat-input #unity-text-input
{
    background-color:rgba(0, 0, 0, 0);
    border-color:rgba(0, 0, 0, 0);
    white-space: pre-wrap;
    max-height: 100px;
    overflow: scroll;
    height: 100%;
}

.chat-input .unity-text-element
{
}

.chat-input
{
    flex-shrink: 1;
    flex-grow: 1;
    margin-right: 10px;
    height: 100%;
    font-size: 14px;
}

.footer
{
    flex-shrink: 0;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--surface-color);
}

.input-wrapper
{
    flex-direction: row;
    width: 100%;
}

.chat-container
{
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.message-container
{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-width: 1px;
    font-size: 14px;
    min-width: 200px;
}

.message-container.is-ai
{
    background-color: var(--ai-color-muted);
    margin-right: 60px;
    color: var(--bright-text-color);
}

.message-container.is-user
{
    background-color: var(--user-color-muted);
    margin-left: 60px;
}

.message-container #unity-text-input
{
    background-color:rgba(0, 0, 0, 0);
    border-color:rgba(0, 0, 0, 0);
    white-space: pre-wrap;
}

.message-container #unity-text-input .unity-text-element
{
    width: 100%;
}

.unity-button
{
    -unity-background-image-tint-color: var(--bright-text-color);
    scale: 1;
    border-radius: 10px;
    border-color: transparent;
    transition: scale 0.2s;
    margin: 0;
    cursor: link;
}

.unity-button:hover
{
    scale: 1.1;
}

.unity-button:active
{
    scale: 0.9;
}

.send-button
{
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
    flex-shrink: 0;
    background-image: var(--send-icon);
    background-color: var(--accent-color);
    background-size: 70%;
}

.context-list
{
    flex-direction: row;
    flex-wrap: wrap;
}

.context-item
{
    flex-direction: row;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: var(--background-color);
    font-size: 12px;
    -unity-font-style: bold;
}

.context-drop-button
{
    background-color: transparent;
    background-image: var(--close-icon);
    margin-right: 5px;
}

.context-drop-button:hover
{
    -unity-background-image-tint-color: var(--red-text-color);
    scale: 1.2;
}

.settings-button
{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-image: var(--settings-icon);
    background-color: var(--surface-color);
    background-size: 50%;
}
.add-chat-button
{
    position: absolute;
    top: 10px;
    right: 25px;
    width: 45px;
    height: 40px;
    background-image: var(--add-icon); 
    background-color: var(--surface-color);
    background-size: 50%;
}


.history-button
{
    position: absolute;
    top: 10px;
    left: 60px;
    width: 40px;
    height: 40px;
    background-image: var(--history-icon);
    background-color: var(--surface-color);
    background-size: 55%;
}

.hide
{
    display: none;
}

.config-window
{
    position: absolute;
    top: 55px;
    left: 10px;
    padding: 8px;
    border-radius: 10px;
    max-width: 70%;
    background-color: var(--surface-color);
}

.config-window .unity-base-field
{
    margin-bottom: 5px;
}

.save-button
{
    margin-top: 15px;
    width: 200px;
    max-width: 80%;
    align-self: center;
}

.copy-button
{
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 25px;
    height: 25px;
    background-image: var(--copy-icon);
    background-color: var(--surface-color);
    background-size: 50%;
    transition: background-color 0.2s, scale 0.2s;
}

.copy-button.confirm
{
    background-image: var(--check-icon);
    background-color: var(--accent-color);
    background-size: 65%;
}

.table
{
    flex-direction: column;
    overflow: scroll;
    margin-bottom: 15px;
    margin-top: 15px;
}

.table-content
{
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--surface-color);
    width: 100%;
}

.table-column
{
    flex-direction: column;
    flex-grow: 1;
}

.table-column.middle, .table-column.first
{
    border-right-width: 1px;
    border-right-color: var(--muted-text-color);
}

.table-cell
{
    flex-grow: 1;
    flex-direction: column;
    padding: 5px;
}

.table-cell.middle, .table-cell.first
{
    border-bottom-width: 1px;
    border-bottom-color: var(--muted-text-color);
}

.table-cell.empty
{
    color: transparent;
}

.code-block
{
    background-color: var(--surface-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 14px;
    -unity-font: url("JetBrainsMono.ttf");
    -unity-font-definition: url("JetBrainsMono.asset");
}

.blockquote
{
    background-color: var(--surface-color-muted);
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    border-left-width: 3px;
    border-left-color: var(--accent-color);
}